@import "tailwindcss";
@import "@fontsource-variable/figtree";

* {
	cursor: none !important;
}

body {
	font-family: "Figtree Variable", sans-serif;
}

.custom-cursor {
	position: fixed;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: white;
	pointer-events: none;
	z-index: -1;
	transform: translate(-50%, -50%);
	mix-blend-mode: difference;
	transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1), height 0.2s
		cubic-bezier(0.4, 0, 0.2, 1), border-radius 0.2s
		cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
}

.custom-cursor.morphing {
	transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1), height 0.2s
		cubic-bezier(0.4, 0, 0.2, 1), border-radius 0.2s
		cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s
		cubic-bezier(0.4, 0, 0.2, 1);
	mix-blend-mode: normal;
	background-color: white;
	border: none;
}
