@import "tailwindcss";
@import "@fontsource-variable/figtree";

body {
	font-family: "Figtree Variable", sans-serif;
}

html {
	scroll-behavior: smooth !important;
}

* {
	cursor: none !important;
}

.custom-cursor {
	position: fixed;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: white;
	pointer-events: none;
	z-index: 9999;
	transform: translate(-50%, -50%);
	mix-blend-mode: difference;
	transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1), height 0.2s
		cubic-bezier(0.4, 0, 0.2, 1), border-radius 0.2s
		cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
}

.custom-cursor.morphing {
	transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1), height 0.2s
		cubic-bezier(0.4, 0, 0.2, 1), border-radius 0.2s
		cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s
		cubic-bezier(0.4, 0, 0.2, 1);
	mix-blend-mode: normal;
	background-color: white;
	border: none;
	z-index: 0;
}
