---
// Header & Navigation UI displayed on each page.

import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import LocaleSelect from "@/components/i18n/LocaleSelect.astro";
import { type Lang, useTranslations } from "@/i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import AstroImage from "@/assets/astro-logo.svg";

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
	getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<header class="w-[600px] mx-auto">
  <LocaleSelect />

  <nav class="">
    <ul>
      <li>
        <a
          href={getRelativeLocaleUrl(locale, "/setup")}
          class={isActive("/setup") ? "active" : null}
        >
          {t({ ja: "設定", en: "Setup", "zh-cn": "设置", ar: "إعداد" })}
        </a>
      </li>

      <li>
        <a
          href={getRelativeLocaleUrl(locale, "/blog")}
          class={isActive("/blog") ? "active" : null}
        >
          {t({ en: "Blog", es: "Blog" })}
        </a>
      </li>

      <li>
        <a
          href={getRelativeLocaleUrl(locale, "/about")}
          class={isActive("/about") ? "active" : null}
        >
          {t({ en: "about", es: "Inicio" })}
        </a>
      </li>


    </ul>
  </nav>
</header>

