---
import { LOCALES, type Lang, useTranslations } from "@/i18n";
import Layout from "@/layouts/Base.astro";
const t = useTranslations(Astro.currentLocale as Lang);
import { getRelativeLocaleUrl } from "astro:i18n";

import { Image } from "astro:assets";
import heroImageEn from "@/assets/en/hero.svg";
import heroImageEs from "@/assets/es/hero.svg";
import heroImageJa from "@/assets/ja/hero.svg";

const locale = Astro.currentLocale as Lang;

export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang },
	}));
---

<Layout>
<div class="flex gap-3">
  <!-- Button -->
  <button class="custom-cursor-trigger z-50 px-6 py-2.5  rounded-full border-2 border-white bg-transparent text-white font-medium hover:bg-white hover:text-black transition-all duration-300 ease-in-out">
    Conversations
  </button>
  
  <!-- Button -->
  <button class="custom-cursor-trigger px-6 py-2.5  rounded-full border-2 border-white bg-transparent text-white font-medium hover:bg-white hover:text-black transition-all duration-300 ease-in-out">
    UX
  </button>
</div>

</Layout>
